body{
      background-color: black;
      font-family: 'Roboto', sans-serif;
  }


.publicacion{
    width: 50%;
    height: auto;
    background-color:white;
    margin: 60px auto;
    overflow: hidden;
}

.title{
    font-weight: bold;
    display: inline;

}

.number{
    color: gray;
    float: right;
    padding-right: 20px;
}

.profile{
height: 30px;
display: inline;
padding: 10px;
}
.post{
    width: 100%;
}

.comentario{
    text-align: left;
    padding: 0px 20px 0px 20px;
}
